
<div id="main-menu" class="container">
    <h3 class="title-menu">Ramon Melo</h3>
    <p class="title-menu">Just for a relaxing chat about technology</p>

    <!-- <h6 class="title-menu">Pages</h6> -->

    <div class="list-group">
        <a href="{% link index.html %}" class="list-group-item list-group-item-action">About</a>
        <!-- <a href="{% link blog.html %}" class="list-group-item list-group-item-action">Blog</a> -->
    </div>

  <!-- <div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="fui-home"></span> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="fui-user"></span> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="fui-bubble"></span> Contact</a>
          </li>
        </ul>
    </div> -->
  <!-- </div> -->
</div>
