
<!-- <span id="toggle-menu" class="fui-list rounded-circle"></span> -->

<button id="toggle-menu" class="btn btn-inverse" type="button" data-toggle="collapse" data-target="#main-menu">
  <span class="fui-list"></span>
</button>

<div id="main-menu" class="collapse">

    <h3 class="title-menu">Ramon Melo</h3>
    <p class="title-menu">Just for a relaxing chat about technology</p>

    <!-- <h6 class="title-menu">Pages</h6> -->

    <div class="list-group">
        <a href="{% link index.html %}" class="list-group-item list-group-item-action">About</a>
        <!-- <a href="{% link projects.html %}" class="list-group-item list-group-item-action">Projects</a> -->
        <a href="{% link contact.html %}" class="list-group-item list-group-item-action">Contact</a>
    </div>

</div>
